/* Posicionamiento del nav */
nav {
	margin: 0 auto 0;
	border: 1px solid;
	border-color: white;
	position: relative;
	width: auto;
	height: auto;
	background-color: #34495e;
	border-radius: 0px;
	font-size: 0;
}

/* Seleccion de los "a" dentro del "nav" */
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-flex;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
/* La animacion */
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	/* border-radius: 8px; */
}

/* ----------------------------------------------------------------------------- */

/* Son selectores, selector 1,2,3,4,5 para marcar la distancia entre palabras
 pero tambien puede usarse para que tome colores, este caso marca la distancia entre elementos del header */

 /* Separador de inicio */
a:nth-child(1) {
	width: 90px;
}
/* Separador de futbol argentino */
a:nth-child(2) {
	width: 210px;
}
/* Separador de messi */
a:nth-child(3) {
	width: 100px;
}
/* Separador de campeones */
a:nth-child(4) {
	width: 145px;
}
/* Separador de nosotros */
a:nth-child(5) {
	width: 135px;
}
/* Separador de suscribirse */
a:nth-child(6) {
	width: 120px;
}
/* ----------------------------------------------------------------------------- */
/* En estos, indicamos segun el nth-child() que es el selector, de que tamano es la animacion
hover animation indica que es el tamano del cuadro de desplazamiento, que tamano tiene y que posicion queda */

/* class="animation start-home segun la clase, va a ser donde se ubique el indicador de la pagina, 
por ende aca indicamos: 

- nav (seccion nav)

- .start-home(futbolargentino, messi, internacional, nosotros)

indica que seccion se va a encontrar el cursor
,
- a:nth-child() 

es la funcion selectora: hover-animation es para indicar que la animacion se hace en ese contexto
color, distancia de la pantalla, y ancho de la animacion */

/*---------- Posiciones y tamaños de la animacion ----------*/

/* Animacion de inicio */
nav .start-home, a:nth-child(1):hover~.animation {
	width: 50px;
	left: 0;
	background-color: #f3ccaa3e;
}
/* Animacion de futbol argentino */
nav .start-futbolargentino, a:nth-child(2):hover~.animation {
	width: 170px;
	left: 80px;
	background-color: #f3ccaa3e;
}
/* Animacion de messi */
nav .start-messi, a:nth-child(3):hover~.animation {
	width: 80px;
	left: 280px;
	background-color: #f3ccaa3e;
}
/* Animacion de campeones */
nav .start-campeones, a:nth-child(4):hover~.animation {
	width: 110px;
	left: 386px;
	background-color: #f3ccaa3e;
}
/* Animacion de nosotros */
nav .start-nosotros, a:nth-child(5):hover~.animation {
	width: 95px;
	left: 532px;
	background-color: #f3ccaa3e;
}
/* Animacion de suscribirse */
nav .start-contact, a:nth-child(6):hover~.animation {
	width: 102px;
	left: 667px;
	background-color: #f3ccaa3e;
}
